.social a{
    font-size: 1.2em;
    color: inherit;
}

.social a.twitter:hover {
    color: #1dcaff;
}
.social a.instagram:hover {
    color: #9b6954;
}
.social a.linkedin:hover {
    color: #0077B5;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}