.profile {
    text-align: center;
    margin: 20px 0;
}
.profile img {
    width: 50%;
    border-radius: 100%;
}
.profile .name {
    font-weight: 600;
    margin: 5px 0;
}
.profile .description {
    margin: 5px 0;
    font-size: .9em;
}