nav {
    background: #FFFFFF;
}

.fixed-top {
    padding: 20px;
    border-bottom: 1px solid #E7E7E7;
}

a.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: inherit;
}

a.navbar-brand:hover {
    color: #0984e3;
}

.main-menu a {
    text-transform: uppercase;
    color: inherit !important;
    font-weight: 600;
}

.main-menu a:hover,
.navbar-default .navbar-nav>.active>a,
.main-menu a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-nav>.active>a:hover {
    color: #0984e3 !important;
    background: inherit !important;
}

.no-border {
    border-width: 0;
}