.gallery > .item > .caption {
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .gallery > .item > .caption a.tag {
    color: inherit;
  }
  .gallery > .item > .img-thumbnail {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 285px;
    height: 285px;
    display: block;
  }
  .gallery > .item > .img-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .gallery > .item > .img-thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1200px) {
    .gallery > .item > .img-thumbnail{
      width: 285px;
      height: 285px;
    }
  }
  @media (max-width: 992px) {
    .gallery > .item > .img-thumbnail{
      width: 350px;
      height: 350px;
    }
  }
  @media (max-width: 768px) {
    .gallery > .item > .img-thumbnail{
      width: 500px;
      height: 500px;
    }
  }
  .gallery .detail img {
    width: 100%;
  }