@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700');
body {
  padding-top: 90px;
    color: #3D3D3D;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
.top-tall {
  margin-top: 10px;
}
.top-grande {
  margin-top: 20px;
}
.top-venti {
  margin-top: 40px;
}
.bottom-tall {
  margin-bottom: 10px;
}
.bottom-grande {
  margin-bottom: 20px;
}
.bottom-venti {
  margin-bottom: 40px;
}
h1 {
  padding: 10px 0;
  margin: 10px 0 10px 0;
  font-size: 1.8em;
  font-weight: 600;
}
h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 5px 0 10px 0;
  padding: 0;
}
h2.border {
  padding-bottom: 12px;
  border-bottom: 1px solid #DDD;
}
h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 5px 0 10px 0;
  padding: 0;
}
.back-to-top {
  text-align: center;
    padding: 10px 0;
    background: #f5f5f5;
    cursor: pointer;
}